# PostgreSQL superuser
POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_ME_postgres_password
POSTGRES_DB=postgres

# Dev database user password
DB_DEV_PASSWORD=CHANGE_ME_dev_password

# Prod database user password
DB_PROD_PASSWORD=CHANGE_ME_prod_password
